@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
@import "header";
@import "hero";
@import "destination";
@import "features";
@import "testimonial";
@import "contact";

// General Style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

nav,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section:not(.destinations) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
  header {
    padding: 20px 50px;
    flex-direction: column;

    h2 {
      margin-bottom: 15px;
    }
  }
}

.container {
  display: flex;
  flex: row;
  justify-content: space-between;
}
